pandas
beautifulsoup4
html2text
openpyxl
nltk
scikit-learn
neo4j
graphdatascience
oauth2client
gspread
google-auth
google-auth-oauthlib
google-auth-httplib2
google-api-python-client
google-cloud-bigquery
google-cloud-storage
google-cloud-aiplatform
pandas-gbq
matplotlib
openai
gcsfs
gsheets
pypdf
PyPDF2
pdfreader
Unidecode
exchangelib
selenium
mypy
git+https://github.com/pdfminer/pdfminer.six.git@761410e66ce08f8407674a574069210a8d9d09dd
